@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    padding-top: 40px;
    color: rgb(43, 43, 43);

}
h1{
    text-align: center;
    font-family: 'Source Code Pro';
    font-size: 44px;
}
section{
    display: flex;

    padding-top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.task{
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.4); 
    width: 500px;
    padding: 8px 18px 18px 18px;
    margin-bottom: 15px;
    border-radius: 20px
}
h3{
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-size: 12px;
    text-align: right;
}
#base{
    display: flex;
    align-items: center;
}
input{
    margin-right: 10px;
    width: 15px;
    height: 15px;
}
h2{
    font-family: 'Source Code Pro';
    width: 400px;
    font-size: 16px;
}
p{
    padding-top: 5px;
    font-family: 'Source Code Pro';
    width: 200px;
    font-size: 12px;
    width: 100%;
    color: rgb(131, 131, 131);
}
.done-task{
    text-decoration: line-through;
    color: #C0C0C0;
}
.expired-date{
    color: rgb(197, 6, 6);
}