@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    display: flex;

}

body {
    padding-top: 40px;
    color: rgb(43, 43, 43);
}

h1 {
    text-align: center;
    font-family: 'Source Code Pro';
    font-size: 44px;
}

section {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-right: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task {
    align-self: center;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    padding: 8px 18px 18px 18px;
    margin-bottom: 20px;
    border-radius: 10px
}

h3 {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    white-space: nowrap;
    margin-left: 8px;
}

.base {
    display: flex;
    align-items: baseline;
}

input {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    align-self: center;
}

h2 {
    font-family: 'Source Code Pro';
    width: 400px;
    font-size: 16px;
}

p {
    padding-top: 5px;
    font-family: 'Source Code Pro';
    width: 200px;
    font-size: 12px;
    width: 100%;
    color: rgb(131, 131, 131);
}

.done-task {
    text-decoration: line-through;
    color: #C0C0C0;
}

.expired-date {
    color: rgb(197, 6, 6);
}

.description-delete {
    display: flex;
    padding-top: 5px;
}

.description-delete button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    white-space: nowrap;
    margin-left: 5px;
    align-self: flex-end;
}
.description-delete button:hover{
    background-color: red;
    color: white;
}
.menu{
    min-width: 250px;
    padding-top: 50px;
    text-align: center;
}
.menu h3{
    text-align: center;
    font-size: 25px;
}
#done-button{
    font-family: 'Source Code Pro';
    font-size: 15px;
    margin-top: 20px;
    padding: 10px;
    min-width: 150px;

}
.hide-content{
    display: none;
}
.show-content{
    display: block;
}