@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
}

body {
    padding-top: 40px;
    color: rgb(43, 43, 43);
}

h1 {
    text-align: center;
    font-family: 'Source Code Pro';
    font-size: 44px;
}

button {
    cursor: pointer;
    transition-duration: 0.4s;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 5px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24);

}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

section {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-right: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task {
    align-self: center;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    padding: 8px 18px 18px 18px;
    margin-bottom: 20px;
    border-radius: 10px
}

h3 {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    white-space: nowrap;
    margin-left: 8px;
}

.base {
    display: flex;
    align-items: baseline;
}

input {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    align-self: center;
}

h2 {
    font-family: 'Source Code Pro';
    width: 400px;
    font-size: 16px;
}

p {
    padding-top: 5px;
    font-family: 'Source Code Pro';
    width: 200px;
    font-size: 12px;
    width: 100%;
    color: rgb(131, 131, 131);
}

.done-task h2 {
    text-decoration: line-through;
    color: #C0C0C0;
}

.expired-date {
    color: rgb(197, 6, 6);
}

.description-delete {
    display: flex;
    padding-top: 5px;
}

.description-delete button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    white-space: nowrap;
    margin-left: 5px;
    align-self: flex-end;
    border: 1px solid black;
}

.description-delete button:hover {
    background-color: rgba(199, 26, 26, 0.925);
    color: white;
}

.menu {
    min-width: 250px;
    padding-top: 50px;
    text-align: center;
}

.menu h3 {
    text-align: center;
    font-size: 25px;
}

#done-button {
    font-family: 'Source Code Pro';
    min-width: 150px;
    font-size: 15px;
    margin-top: 20px;
    padding: 10px;
}

.hide-done .done-task {
    display: none;
}

form input {
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
}

form button {
    width: 50px;
    height: 25px;
    border-radius: 5px;
}

form {
    height: 100%;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    align-items: center;
}
footer{
    position:fixed;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
    background-color: white;
}